<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="/static/js/htmx.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Lista de Usuários</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {{ range .users }}
                <tr>
                    <td>{{ .ID }}</td>
                    <td>{{ .Name }}</td>
                    <td>{{ .Email }}</td>
                    <td>
                        <a href="/users/update/{{ .ID }}" class="btn btn-warning">Editar</a>
                        <button class="btn btn-danger"
                                hx-delete="/users/{{ .ID }}"
                                hx-target="closest tr"
                                hx-swap="outerHTML"
                                onclick="return confirm('Você tem certeza que deseja remover o usuário: {{ .Name }}?');">
                            Remover
                        </button>

                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
    <div class="container">
        <a href="/users/register" class="btn btn-primary">Create Another User</a>
    </div>
</body>
</html>
